image {
    background-image: url(img/hund.jpg);
}

.container {
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titel {
    text-align: center;
    background-color: rgb(245, 245, 220);
    color: rgb(148, 128, 90);
    padding: 10px;
}

table {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 5px;
}

a {
    text-decoration-style: dotted;
    color: black;
    padding: 10px;
}

#namn {
    text-align: center;
}

.copyright {
    text-align: center;
}