image {
    background-image: url(img/hund.jpg);
}

.container {
    width: 600px;
    margin: auto;
}

.titel {
    text-align: center;
}

table {
    margin: auto;
}

a {
    text-decoration-style: dotted;
    color: black;
    padding: 10px;
}

.copyright {
    text-align: center;
}