img {
    border-width: 1px;
    border-color: black;
    border-style: groove;
    border-radius: 130px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.container {
    width: 600px;
    margin: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.titel {
    text-align: center;
    background-color: rgb(245, 245, 220);
    color: rgb(148, 128, 90);
    padding: 10px;
    margin-bottom: 10px;
}

nav {
    display: inline-block;
    margin-left: 140px;
    margin-right: 140px;
}

a {
    text-decoration-style: dotted;
    color: black;
    padding: 10px;
}

#namn {
    text-align: center;
}

.copyright {
    text-align: center;
}